
header
{
  background-color: black;
  height: 90px;
  position: fixed;
  width: 100%;
}
body{
  color: white;
  background-color: black;
  overflow-x: hidden;
}
footer
{
  background-color: black;
  height: 200px;
  border-top: 1px solid;
  text-align: center;
}
/*---------------------NAVBAR----------------------------------*/
nav{
  background-color: black;
  box-sizing: border-box;
}
nav li{
  display: inline-block;
}
nav ul{
  margin-left: 80px;
}

li a {
  text-decoration: none;
  color: white;
  display: block;

}

li{
  float: left;
  height: 60px;
}


li:hover{
  background-color: #0C0C0C;
  font-size: 1.2em;
}

.logo
{
  border-radius: 60px;
  margin-top: 10px;
  margin-left: 20px;
  width: 70px;
  float: left;
}

.logo:hover{
  border: 2px solid white;
}
/*------------------------PAGE HERO-------------------------------*/
.hero
{
  background: url(../css/images/jungle.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  height: 870px;
}

h1{
  font-size: 8em;
  margin-bottom: 100px;
  padding-top: 150px;
}

.description
{
  padding-bottom: 250px;
}


/*---------------------BLOC 2----------------------------------*/
.bloc2
{

  color: white;
  columns: 3;
  padding-top: 150px;
  padding-bottom: 250px;
  width: 100%;
}
h2
{
  font-size: 2em;
  column-span: all;
  margin-bottom: 30px;
}

h3
{
  padding-top: 30px;
  text-align: center;
  font-size: 1.4em;
  text-transform:uppercase;
  margin-bottom: 30px;
}
.colonne{
  padding-bottom: 50px;
}

/*---------------------Monkeys face----------------------------------*/

.imagefix1
{
  background: url(../css/images/imagefixe.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 700px;
}
.imagefix2
{
  background: url(../css/images/imagefix2.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 700px;
}
/*---------------------BLOC 3: gorille en détails----------------------------------*/
.bloc3
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;


}
.content{
  flex-basis: 320px;
  border: 1px solid white;
  margin-top: 20px;
}
.bloc3,img
{
margin: 30px 0px;
}
h4{
  font-size: 1.2em;
  text-align: center;
}

.lienpage2{
  font-size: 2em;
  color: white;
  text-decoration: underline;
  width: 100%;
  float: left;
  margin-top: 1em;
}
/*-----------------------BLOC 4--------------------------------------*/

.bloc4{
  width: 100%;
  background-color: black;
  display: flex;
  padding-bottom: 100px;
  padding-top: 100px;

}
.bloc4,figure{
  padding-left: 10px;
  margin-right: 20px;
}

.bloc4,figure,a{
  text-decoration: none;
  color: white;

}

/*--------------------------bloc-picture--------------------------------------*/

.bloc-picture{

  text-align: center;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: black;
  height: 400px;
  border-top: 2px solid white;

}


.picture{
  position: absolute;
  left: 50%;

}

/*--------------------------Page de gorille-----------------------------------*/

.page1
{
  padding-top: 100px;
  width:cover;
  height: 600px;
  background-color: black;
  text-align: center;
}














/*-------------------Footer------------------------------------*/

.footer{
  float: left;
}
